In [6]:
import pandas as pd
import numpy as np

df = pd.read_csv('Working.csv')
"""df.head()
df.dtypes"""

obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

       sex age_group                                    occupation
0  Females   30 - 39                              Clerical Workers
1  Females   30 - 39      Legislators, Senior Officials & Managers
2  Females   30 - 39                                   Not Working
3  Females   30 - 39  Production Craftsmen & Other Related Workers
4  Females   30 - 39                                 Professionals

In [7]:
obj_df["sex"].value_counts()

Males      103
Females     96
Name: sex, dtype: int64

In [9]:
cleanup_category = {"sex": {"Females" : 1, "Males": 0}}
obj_df = obj_df.replace(cleanup_category)
obj_df.head()

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [16]:
obj_df["sex"] = obj_df["sex"].astype('category')
obj_df["sex"] = obj_df["sex"].cat.codes
obj_df.head()

   sex age_group                                    occupation
0    1   30 - 39                              Clerical Workers
1    1   30 - 39      Legislators, Senior Officials & Managers
2    1   30 - 39                                   Not Working
3    1   30 - 39  Production Craftsmen & Other Related Workers
4    1   30 - 39                                 Professionals

In [23]:
new = obj_df[obj_df.occupation != 'Not Working']
obj_df["age_group"] = obj_df["age_group"].astype('category')
obj_df["age_group"] = obj_df["age_group"].cat.codes

obj_df.head()
print(obj_df)

     sex  age_group                                    occupation
0      1          0                              Clerical Workers
1      1          0      Legislators, Senior Officials & Managers
2      1          0                                   Not Working
3      1          0  Production Craftsmen & Other Related Workers
4      1          0                                 Professionals
..   ...        ...                                           ...
194    0          3  Production Craftsmen & Other Related Workers
195    0          3                                 Professionals
196    0          3  Service Workers, Shop & Market Sales Workers
197    0          3         Technicians & Associate Professionals
198    0          3        Workers Not Classifiable By Occupation

[199 rows x 3 columns]

In [25]:
new = obj_df[obj_df.occupation != 'Not Working']
print(new)

     sex  age_group                                    occupation
0      1          0                              Clerical Workers
1      1          0      Legislators, Senior Officials & Managers
3      1          0  Production Craftsmen & Other Related Workers
4      1          0                                 Professionals
5      1          0  Service Workers, Shop & Market Sales Workers
..   ...        ...                                           ...
194    0          3  Production Craftsmen & Other Related Workers
195    0          3                                 Professionals
196    0          3  Service Workers, Shop & Market Sales Workers
197    0          3         Technicians & Associate Professionals
198    0          3        Workers Not Classifiable By Occupation

[175 rows x 3 columns]

In [26]:
new["occupation"] = new["occupation"].astype('category')
new["occupation"] = new["occupation"].cat.codes
new.head()
print(new)

     sex  age_group  occupation
0      1          0           1
1      1          0           2
3      1          0           3
4      1          0           4
5      1          0           5
..   ...        ...         ...
194    0          3           3
195    0          3           4
196    0          3           5
197    0          3           6
198    0          3           7

[175 rows x 3 columns]

<ipython-input-26-35aab3d7f64f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new["occupation"] = new["occupation"].astype('category')
<ipython-input-26-35aab3d7f64f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new["occupation"] = new["occupation"].cat.codes

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv('Working.csv')
df["sex"] = df["sex"].astype('category')
df["sex"] = df["sex"].cat.codes
df["age_group"] = df["age_group"].astype('category')
df["age_group"] = df["age_group"].cat.codes
new = df[df.occupation != 'Not Working']
print(new)
new.to_csv(r'D:\BITI2513 INTRODUCTION TO DATA SCIENCE\CAPSTONE PROJECT\Latest_Working_Dataset_2.csv')

     year  sex  age_group                                    occupation  \
0    2017    0          0                              Clerical Workers
1    2017    0          0      Legislators, Senior Officials & Managers
3    2017    0          0  Production Craftsmen & Other Related Workers
4    2017    0          0                                 Professionals
5    2017    0          0  Service Workers, Shop & Market Sales Workers
..    ...  ...        ...                                           ...
194  2019    1          3  Production Craftsmen & Other Related Workers
195  2019    1          3                                 Professionals
196  2019    1          3  Service Workers, Shop & Market Sales Workers
197  2019    1          3         Technicians & Associate Professionals
198  2019    1          3        Workers Not Classifiable By Occupation

     deaths
0         3
1         5
3         9
4        14
5         6
..      ...
194      65
195      26
196      83
197      11
198      11

[175 rows x 5 columns]